.header {
    padding: 0 20px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #000;
}

.header-links {
    padding: 20px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    flex-wrap: wrap;
}

.header-logo {
    height: 85px;
    width: 100px;
}