.gallery-photo img {
    height: 200px;
    width: 250px;
    object-fit: cover;
    border: solid 1px #000;
    border-radius: 15px;
}

.gallery-photo-name {
    color: #868282;
    font-style: italic;
    text-align: center;
}