.service-card {
    display: flex;
    margin-bottom: 12px;
    flex-direction: column-reverse;

    @media (min-width: 700px) {
        flex-direction: row;
    }
}

.service-card h4 {
    text-align: center;

    @media (min-width: 700px) {
        text-align: left;
    }
}

.service-card img {
    height: 350px;
    max-width: 90vw;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 700px) {
        width: 270px;
        height: 180px;
        margin-left: 0;
        margin-right: 12px;
    }
}